# Backend env variables
PORT=3000
NODE_ENV=development
JWT_SECRET=secret
REFRESH_TOKEN_SECRET=secret
FRONTEND_URL=http://localhost:5173
CONTACT_MAIL=myMail@example.com
SENDER_MAIL=mySenderMail@example.com
SENDGRID_API_KEY=the_API_key

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=postgresql://neondb_owner:...
#DATABASE_URL="file:./prisma/dev.db" # In case for local testing: SQLite DB (change provider in schema.prisma to SQLite)